html {
  box-sizing: border-box;
}

*,
*:before,
*:after body {
  position: relative
}

body {
  background: linear-gradient(
    60deg,
    rgb(163, 160, 163) 0%,
    rgb(87, 87, 93) 35%,
    rgb(190, 180, 188) 100%
  ); 
  max-width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: rgb(236, 223, 223);
  font-size: 1.2em;
}
body > header {
  width: 100%;
  color: rgb(245, 233, 233);
  padding: 10px;
}
#survey-form {
  border-radius: 5px;
  padding: 50px;
  background-color: rgba(234, 222, 246, 0.418);
  display: grid;
  gap: 20px;
  max-width: 100%;
}
.break {
  display: flex;
  flex-direction: column;
}
.form-control {
  padding: 10px;
  max-width: 100%;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 0.8em;
}
.check_box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check_box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.input-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.check_box:hover input ~ .input-checkbox {
  background-color: #ccc;
}
.check_box input:checked ~ .input-checkbox {
  background-color: #2196f3;
}
.input-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
.check_box input:checked ~ .input-checkbox:after {
  display: block;
}
.check_box .input-checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#comments {
  max-height: 150px;
  width: 100%;
  padding: 20px;
  resize: vertical;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 1em;
}
#submit {
  height: 35px;
  border-radius: 20px;
  font-size: 1em;
  width: 40%;
  margin: auto;
}
